<div data-role="drawer" id="health-connect-drawer" style="width: 270px">
    <ul data-role="listview" data-type="group">
        <li>
            <ul>
                <li data-icon="Incoming"><a href="views/incoming.html" data-transition="none">Incoming Referrals</a></li>
                <li data-icon="Appointments"><a href="views/ReferralAppointments.html" data-transition="none">Referral Appointments</a></li>
                <li data-icon="History"><a href="views/history.html" data-transition="none">Referral History</a></li>
            </ul>
        </li>
    </ul>
</div>
